$default-font-size: 1.2rem;
$default-letter-spacing: .4rem;
$default-letter-spacing-small: .1rem;


// COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #F5F5F5;
$color-primary-dark: #333336;
$color-primary-light: #f0f0f0;

$color-blue: #6fabed;

$color-red: orangered;

$color-violet: #4b479e;
$color-light-violet: #6166ed;
$color-dark-violet: #302d64;

$color-green: #7dbd6e;

