$default-font-size: 1.2rem;
$default-letter-spacing: .17rem;
$default-letter-spacing-small: .1rem;


// COLORS
$color-primary: #F5F5F5;
$color-primary-light: #eee;
$color-primary-dark: #9f9f9f;

$color-grey-dark-1: #777;
$color-grey-dark-2: #6b6b6b;

$color-white: #fff;
$color-black: #000;