.container {
    width: 128rem;
    margin: 0 auto;
    // display: flex;

    @include respond(tab-land) {
        width: 114rem;
    }
}

.section-about {
    margin-bottom: 8.5rem;
}

.section-technology {

    &--grey {
        background-color: $color-primary-light;
    }

    &--white {
        background-color: $color-white;
    }
}

.section-contact {
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    color: $color-white;

    & .footer {
        padding: 7rem 4rem;
    }
}